/*-----final Responsive editation----- */
@font-face {
    font-family: robot;
    src: url(RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: nasa;
    src: url(nasalization-rg.ttf);
}
body{
    font-size: 16px;
    background: url(images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    box-sizing: border-box;
    font-family: robot;
}
.form-container{
    width: 450px;
    height: 650px;
    margin: 10px auto;


    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #e0dfdc;
    padding: 50px;
    
}
.form-container h1{
    color: white;
    font-size: 1.7em;
    font-family: nasa;
    letter-spacing: 1px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container form input[type='text']{
    width: 270px;
    height: 30px;

    background: rgba(32, 32, 32, 0.41);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color:#e0dfdc ;
}
.form-container form label[for='username']{
    text-shadow: #474747 3px 5px 2px;
}
.form-container form input[id="password"]{
    width: 270px;
    height: 30px;
    border-radius: 5px;
    background: rgba(32, 32, 32, 0.41);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color:#e0dfdc ;
}
.form-container form label[for='password']{
    text-shadow: #474747 3px 5px 2px;
}
.form-container form input[id="Re-password"]{
    width: 270px;
    height: 30px;
    background: rgba(32, 32, 32, 0.41);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color:#e0dfdc ;
}
.form-container form label[for="Re-password"]{


    text-shadow: #474747 3px 5px 2px;

}
input,label{
    margin-top: 13px;
}
input[type='submit']{
    padding: 6px 40px;
    letter-spacing: 3px;
    background-color: transparent;
    border-radius: 23px;
    color: inherit;
    align-self: stretch;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 30px !important;
    cursor: pointer;
    font-size: 1.05em;
    
}
input[type='submit']:hover{
    animation: pulsate 100000s ease-in-out;

    color: #2b2d42;
    border: none;
    background-color: 
    #4bb543;
    font-weight: bold;
 

/*-----final editation----- */



}
@keyframes pulsate {
    0%{
        box-shadow: 
        0 0 25px  #b8ef6b,
        0 0 50px  #00a74a
        ;
    }
    
}
.icon{
    text-align: center;
}
input[type='text']:focus{
    outline: 1px solid #474747;
}
input[id="password"]:focus{
    outline: 1px solid #474747;
}
input[id="Re-password"]:focus{
    outline: 1px solid #474747;
}


/*----------media query---------------*/

@media screen and (max-width:600px){
    body{
        margin: 0;
        padding: 0;
        font-size: .9em;
    }

    .form-container{
        width: 100% ;
        height: 100vh;
        margin: 0 0 0 0;
        padding: 0 0 0 30px;
        border-radius: 0 ;
    }
    .form-container form input[type='text']{
        width: 360px;
    }
    .form-container form input[id="password"]{
        width: 360px;      
    }
    .form-container form input[id="Re-password"]{
        width: 360px;
    }
    input[type='submit']{
        align-self: center;
        width: 300px;
    }
}
@media screen and (max-width:480px) {
body{
   font-size: 13px;
    margin: 0;
    padding: 0;
}
.form-container{
    width: 100% ;
    height: 100vh;
    border: none;
    box-shadow: none;
    margin: 0 0 0 0;
    padding: 23 0 0 23px;
    border-radius: 0;

}

.form-container form input[type='text']{
    width: 260px;
}
.form-container form input[id="password"]{
    width: 260px;      
}
.form-container form input[id="Re-password"]{
    width: 260px;
}
input[type='submit']{
    align-self: flex-end;
}
input[type='submit']{
width: 250px;
}

}