@font-face {
    font-family: robot;
    src: url(RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: nasa;
    src: url(nasalization-rg.ttf);
}
body{
    font-size: 16px;
    background: url(images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    box-sizing: border-box;
    font-family: robot;
}
.form-container{
    width: 500px;
    height: 700px;
    margin: 40px auto;


    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #e0dfdc;
    padding: 50px;
    
}
.form-container h1{
    color: white;
    font-size: 1.85em;
    font-family: nasa;
    letter-spacing: 1px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container form input[type='text']{
    width: 270px;
    height: 30px;
    border-radius: 20px;
    background: rgba(32, 32, 32, 0.41);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color:#e0dfdc ;
}
.form-container form label[for='username']{
    text-shadow: #474747 3px 5px 2px;
}
.form-container form input[id="password"]{
    width: 270px;
    height: 30px;
    border-radius: 20px;
    background: rgba(32, 32, 32, 0.41);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color:#e0dfdc ;
}
.form-container form label[for='password']{
    text-shadow: #474747 3px 5px 2px;
}
.form-container form input[id="Re-password"]{
    width: 270px;
    height: 30px;
    border-radius: 20px;
    background: rgba(32, 32, 32, 0.41);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color:#e0dfdc ;
}
.form-container form label[for="Re-password"]{


    text-shadow: #474747 3px 5px 2px;

}
input,label{
    margin-top: 13px;
}
input[type='submit']{
    padding: 6px 40px;
    letter-spacing: 3px;
    background-color: transparent;
    border-radius: 23px;
    color: inherit;
    align-self: stretch;
    border: 1px solid #e0dfdc;
    box-shadow: -2px 2px;
    margin: 30px !important;
    transition: .2s;
    cursor: pointer;
    font-size: 1.05em;
    
}
input[type='submit']:hover{
    background-color: rgba(241, 239, 240, 0.6);
    box-shadow: none;
    color: #212529;
    box-shadow: 1px 4px 5px black inset;

    text-shadow: 1px 1px #474747;

}
.icon{
    text-align: center;
}
input[type='text']:focus{
    outline: 1px solid #474747;
}
input[id="password"]:focus{
    outline: 1px solid #474747;
}
input[id="Re-password"]:focus{
    outline: 1px solid #474747;
}